# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.NotionExporter.iml
/modules.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# User provided secrets
/secrets/
