<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dropbox.Api" version="6.6.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="Serilog" version="2.10.0" targetFramework="net471" />
  <package id="Serilog.Sinks.Console" version="4.0.0-dev-00839" targetFramework="net471" />
  <package id="Serilog.Sinks.File" version="5.0.0-dev-00909" targetFramework="net471" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
</packages>